*.pyc
.vscode
input/*/*-bbox_sigtime.txt
input/*/*.sig
scalability/plots/*.html
*_sigtime.txt
*-bbox.sig
output/**/*
output/*_v0/*

# IGNORE DEFECTS FOLDERS
defects_folder/projects/**/
defects_folder/output/**/
*.log
.ipynb_checkpoints/